a {
    color: #B3650A;
    font-family: Calibri;
  }
body {
    font-family: Calibri;
    background-color: #D8CFE5;
  }
main {
    font-family: Calibri;
    margin-left: 3%;
  }
h1 {
    color: #B3650A;
    font-family: Arial;
    margin-left: 1%;
  }
h2 {
    color: #B3650A;
    font-family: Arial;
  }
h8 {
    color: #B3650A;
    font-family: Arial;
    margin-left: 1%;
  }
p {
    color: #69058C;
    font-family: Calibri;
  }
  